/*Common*/

body{
    margin: 0px;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.highlight{
    background-color: #ffff00;
}

/* Header*/

#header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    height: 230px;

   
}

#Logo{
    background-image: url(../img/pattern.png);
    height: 100px;
    padding-left: 180px;
    padding-top: 100px;
    
}

/*main*/

h1{
    margin: 0px;
    font-size: 2.5rem;
}
#author{
    color: #87cff1;
}
address{
    font-style: normal;
    margin-bottom: 15px;
}
figure{
    margin: 1px 0px;
}
figcaption{
    font-size: 0.7rem;
}

/*table*/

table{
    width: 100%;
}
th{
    background-color: #1fa9e5;
}
.blue_bcg{
    background-color: #b1e4f2;
}